body {
  position: relative;
  margin: 0;
  padding-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #77ab59;
  padding: 5px;
  color: white;
  text-align: center;

}

.display{
  font-size: 20px !important;
}